<div class="department-container">

  <!-- HEADER -->
  <div class="header-row">
    <h2>My Timesheet</h2>

    <div class="header-actions">
      <input
        type="text"
        class="search-input"
        placeholder="Search work / user..."
        [(ngModel)]="filter.search"
        (input)="applyFilters()" />

      <button class="add-btn" *hasPermission="'timesheet.create'" (click)="create()" >
        + Add Timesheet
      </button>
    </div>
  </div>

  <!-- FILTER BAR -->
  <div class="filter-bar">

    <!-- YEAR -->
    <select [(ngModel)]="filter.year">
      <option [ngValue]="null">Year</option>
      <option *ngFor="let y of [2024, 2025, 2026]" [ngValue]="y">
        {{ y }}
      </option>
    </select>

    <!-- MONTH -->
    <select [(ngModel)]="filter.month">
      <option [ngValue]="null">Month</option>
      <option *ngFor="let m of [1,2,3,4,5,6,7,8,9,10,11,12]" [ngValue]="m">
        {{ m }}
      </option>
    </select>

    <!-- PROJECT -->
    <select [(ngModel)]="filter.projectId">
      <option [ngValue]="null">All Projects</option>
      <option *ngFor="let p of projects" [ngValue]="p.id">
        {{ p.name }}
      </option>
    </select>

    <!-- STATUS -->
    <select [(ngModel)]="filter.status">
      <option value="">All Status</option>
      <option value="InProgress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>

    <button class="btn-apply" (click)="applyFilters()">Apply</button>
    <button class="btn-clear" (click)="resetFilters()">Reset</button>
  </div>

  <!-- LOADING -->
  <p *ngIf="loading">Loading timesheets...</p>

  <!-- TABLE -->
  <div class="table-wrapper" *ngIf="!loading">
    <table class="department-table">

      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Project</th>
          <th>Work Title</th>
          <th>Planned</th>
          <th>Actual</th>
          <th>Efficiency</th>
          <th>Status</th>
          <th class="actions-header">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let t of items; let i = index">
          <td>{{ (page - 1) * pageSize + i + 1 }}</td>
          <td>{{ t.workDate | date:'dd-MM-yyyy' }}</td>
          <td>{{ t.projectName }}</td>
          <td>{{ t.workTitle }}</td>
          <td>{{ t.plannedHours }}</td>
          <td>{{ t.actualHours }}</td>
          <td>{{ t.efficiency }}%</td>

          <!-- STATUS BADGE -->
          <td>
            <span class="status-badge" [ngClass]="statusClass(t.status)">
              {{ formatStatus(t.status) }}
            </span>
          </td>

          <td class="action-buttons">
            <button class="icon-btn edit" (click)="edit(t.id)" *hasPermission="'timesheet.update'">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="icon-btn delete" *hasPermission="'timesheet.delete'" (click)="delete(t.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="items.length === 0">
          <td colspan="9" class="no-data">No timesheets found</td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- PAGINATION -->
  <div class="pagination" *ngIf="!loading && totalPages > 1">
    <button (click)="changePage(page - 1)" [disabled]="page === 1">
      Prev
    </button>

    <span>Page {{ page }} of {{ totalPages }}</span>

    <button (click)="changePage(page + 1)" [disabled]="page === totalPages">
      Next
    </button>
  </div>

</div>
